.l-body {
  display: flex;
  flex-direction: column;

  &__header {
    background-color: #eee;
    padding: 1em 2em;
  }

  &__main {
    flex-grow: 1;
    display: flex;
  }

  &__footer {
    background-color: #555;
    color: #fff;
    padding: 1em 2em;
  }

}
