<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Test 2</title>
</head>

<body class="l-body">
  <header class="l-body__header">
    <h1 class="c-title">Test</h1>
    <button class="c-add-button" id="btn">+</button>
  </header>
  <main class="l-body__main">
    <section class="c-block__container"></section>
  </main>
  <footer class="l-body__footer">
    © <a href="mailto:alexander.rusak@gmail.com">alexander.rusak@gmail.com</a>
  </footer>
</body>

</html>