<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Test 2</title>
</head>

<body>
  <header class="l-header">
    <h1 class="l-header__title">Test</h1>
    <button class="l-header__button" id="btn">+</button>
  </header>
  <main class="l-main">
    <section class="l-main__container"></section>
  </main>
  <footer class="l-footer"></footer>
</body>

</html>